.white {
  color: #fff;
}

.w-45 {
  width: 45%;
}

.large-text {
  font-size: 2em;
}

.top-gap {
  margin-top: 18em;
  margin-bottom: 25em;
}

.normal-gap {
  margin-top: 25em;
  margin-bottom: 25em
}

.bottom-gap {
  margin-top: 25em;
  margin-bottom: 18em;
}


.header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.dark-navbar {
  background-image: linear-gradient(rgba(0,0,0,0.9),  rgba(0,0,0,0));
  color: #fff;
}

button.nav-link {
  color: #fff;
}

button.nav-link:hover {
  color: #fff;
}

button.nav-link.active {
  color: #000;
}

.nav-pills .nav-item .nav-link.active {
  color: #000;
  background-color: #fff;
}

.nav-pills .nav-item .nav-link {
  color: #fff;
  border: 1px solid rgba(0,0,0,0);
  margin: 0.2em;
}

.nav-pills .nav-item a.nav-link:hover {
  border: 1px solid #fff;
}

.curved-border {
  border-radius: 10%;
}

.small-curve {
  border-radius: 2em;
}

a.about-anchor {
  display: block;
  position: relative;
  top: -20em;
  visibility: hidden;
}

a.work-anchor {
  display: block;
  position: relative;
  top: -18em;
  visibility: hidden;
}

a.projects-anchor {
  display: block;
  position: relative;
  top: -5em;
  visibility: hidden;
}

.footer-text {
  writing-mode: vertical-rl;
  color: #fff;
}